.container{
    margin: 0px;
    height: 100vh;
    scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
};
::-webkit-scrollbar{
    display: none;
    scrollbar-width: none ;
 }

body{
    margin: 0px;
    padding: 0px; 
}
.nav{
   display: flex;
   justify-content: space-evenly;
}

.profile{
    
   height: 100vh;
   background-color: black; 
   color: white;
   scroll-padding-top: 0;
   scroll-snap-align: center
}
.icon{
   height: 60px;
   width: 60px;
}
.about{
   height: 100vh;
   background-color: rgb(61, 61, 61); 
   color: white;
   scroll-padding-top: 0;
   scroll-snap-align: center
}
.projects{
   height: 100vh;
   background-color: rgb(139, 139, 139); 
   color: white;
   scroll-padding-top: 0;
   scroll-snap-align: center
}
.contact{
   height: 100vh;
   background-color: rgb(189, 189, 189); 
   color: white;
   scroll-padding-top: 0;
   scroll-snap-align: center
}
.gameBoard{
   display: flex;
  justify-content: space-between ;
 /* align-content: center; */
  height: 250px;
  width: 650px;
  background-color: red;
}
.game{
   /* display: flex; */
}
.answers{
   display: flex;
   flex-direction: column;
   height: 120px;
   width: 120px;
   flex-wrap: wrap;
/* display: flex;
justify-content: center; */
}
.btn{
   
   margin: 10px;
   /* height: 30px; */
   width: 100px;
}
.btnContainer{
   display: flex;
   flex-wrap: wrap;
}
.pic{
   height: 120px;
   width: 120px;
}
